/* ==UserStyle==
@name         freeCodeCamp Dark Theme
@description  A dark theme for freeCodeCamp Forums.
@namespace    forum.freecodecamp.org
@author       maxigaz
@homepageURL  https://github.com/maxigaz/freecodecamp-dark-theme
@updateURL    https://raw.githubusercontent.com/maxigaz/freecodecamp-dark-theme/master/freecodecamp-dark-theme.user.css
@version      1.1.1
==/UserStyle== */

@-moz-document domain("www.freecodecamp.org"), domain("about.freecodecamp.org"), domain("guide.freecodecamp.org"), domain("study-group-directory.freecodecamp.org"), domain("learn.freecodecamp.org") {
	/* ===== General ===== */

	html, body {
		background: rgb(55,55,55);
		color: rgb(250, 250, 250);
	}

	h3 {
		color: #fff;
	}

	p {
		color: #eee;
	}

	code {
		background-color: rgb(34, 34, 34);
		color: red;
	}

	.challenge-instructions dfn {
		background-color: rgb(34, 34, 34);
		color: red;
	}

	a, .text-primary {
		color: #029820;
	}

	a:hover  {
		color: rgb(63, 198, 56);
	}

	.btn-primary, .btn-default {
		background-color: #2c2c2c;
		border-color: #222222;
		color: #029820;
	}

	.btn-default:hover {
		border-color: #222222;
	}

	input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
		background-color: #272822;
		border-color: #222222;
	}

	.challenge-instructions blockquote {
		background-color: #32311a;
		border-color: #222222;
		color: red;
	}

	/* ===== Navigation ===== */

	.navbar-default .navbar-nav li.community-dropdown > a:hover,
	.navbar-default .navbar-nav li.community-dropdown > a:focus,
	.navbar-default .navbar-nav li.community-dropdown > a:active,
	.navbar-default .navbar-nav li.community-dropdown > a:link,
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		background-color: #014b10;
		color: #eeeeee;
		text-shadow: 2px 2px 5px #999999;
	}

	.navbar-default .navbar-nav li.community-dropdown ul.dropdown-menu {
		background-color: #006400;
	}

	.navbar-default .navbar-nav li.community-dropdown ul.dropdown-menu li a {
		color: #eeeeee;
	}

	.navbar-default .navbar-nav li.community-dropdown ul.dropdown-menu li a:hover {
		border-color: #014b10;
	}

	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		background-color: #014b10;
	}

	.map-aside {
		border-color: #222222;
	}

	.map-fixed-header {
		background-color: #373737;
	}

	.map-accordion h2 > a {
		background-color: #373737;
	}

	.map-accordion a:focus:hover {
		color: rgb(63, 198, 56);
	}

	#map-filter {
		background-color: #272822;
		border-color: #222222;
	}

	.input-group-addon {
		background-color: #272822;
		border-color: #222222;
		color: rgb(63, 198, 56);
	}

	.form-control {
		color: #ddd;
	}

	#noneFound {
		color: #029820;
	}

	.map-aside-action-collapse, .map-aside-action-pop-out {
		filter: invert(90%);
	}

	/* ===== Navigation (mobile) ===== */

	.navbar-default .navbar-toggle {
		border-color: #222222;
	}

	.navbar-default .navbar-toggle:hover {
		background-color: #014b10;
		color: #eeeeee;
		text-shadow: 2px 2px 5px #999999;
	}

	/* Challenge complete modal */

	.modal-content {
		background-color: #373737;
	}

	.modal-header {
		border-color: #373737;
	}

	/* Profile details/settings */

	.btn-github {
		background-color: #2c2c2c;
		border-color: #222222;
		color: #cdcdcd;
	}

	.table-striped > tbody > tr:nth-child(2n+1) {
		background-color: #434343;
	}

	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		border-color: #555;
	}

	/* ===== Guide (guide.freecodecamp.org) ===== */

	/* Side panel */

	.panelStyle {
		background-color: #373737;
		color: #029820;
	}

	.navItemTitle {
		color: #029820;
	}

	/* Category hierarchy */

	.breadcrumb {
		background-color: #424242;
	}

	.breadcrumb:hover {
		background-color: #444444;
	}

	.breadcrumb li a {
		color: #029820;
	}

	.breadcrumb > .active {
		color: #eee;
	}

	/* Search results */

	.colourDarkGrey {
		color: #efefef;
	}

	/* Article content */

	pre[class*="language-"] {
		background-color: rgb(34, 34, 34);
		border-color: #212121;
		text-shadow: none;
	}

	pre code {
		color: white;
		filter: brightness(200%);
	}

	.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
		background: none;
	}

	/* ===== Study group directory ===== */

	#camp a:visited, #camps a {
		color: #029820;
	}

	form {
		color: #ddd;
	}

	/* ===== Learn (learn.freecodecamp.org) ===== */
	.test-result:nth-child(2n+1) {
		background-color: #303030;
	}

	.reflex-layout.vertical .reflex-splitter {
		background-color: #555555;
		border-color: #555555;
	}

}

/* ===== Podcast (freecodecamp.libsyn.com) ===== */
@-moz-document domain("freecodecamp.libsyn.com") {
	html, body {
		background: rgb(55,55,55);
		color: rgb(250, 250, 250);
	}

	.navbar-default, .producer-message, .btn-send, .btn-widget-login, .dropdown-menu, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
		background-color: #975911 !important;
	}

	.navbar-default {
		border-color: #4f350b;
	}
	
	.alert-info {
		border-color: #4f350b;
	}

	.dropdown-menu > li > a:hover, .dropdown-submenu {
		background-color: #014b10;
		color: #eeeeee;
	}

	.btn-primary, .btn-default {
		background-color: #2c2c2c;
		border-color: #222222;
		color: #eee;
	}

	.btn-default:hover {
		background-color: #434343;
		border-color: #222222;
		color: white;
	}

	input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
		background-color: #272822;
		border-color: #222222;
	}

	.form-control {
		color: #eee;
	}

	.player .right-side {
		background-color: rgb(55,55,55) !important;
	}

	hr {
		background-color: #878787;
		border-color: #878787;
	}

	/* Transcript page */

	footer{
		background-color: #373737;
	}

	.breadcrumb {
		background-color: #424242;
	}

	.breadcrumb > .active {
		color: #eee;
	}

	a {
		color: #44a5f4;
	}

	a:hover {
		color: #80e1f4;
	}

	.libsyn-item a {
		color: #44a5f4 !important;
	}

	.libsyn-item a:hover {
		color: #80e1f4 !important;
	}

	/* About modal */

	.modal-content {
		background-color: #373737;
	}

	.modal-header, .modal-footer {
		border-color: #474747;
	}

	.close {
		background-color: #eee;
		color: #eee;
	}

	.close:hover {
		color: #fff;
	}

}
